<%- include("./partials/nav.ejs") %>
<div class="container alert-head">
<div class="sticker alert-end">
  <% if (!currentUser) { %> 
    <h4>Please Log In</h4>
  <%} else { %> 
    <a href="/newpost"> Make a New Post <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
  <%} %>
</div>
    <% if(posts.length > 0) { %>
      <% for( var i = 0; i < posts.length; i++){ %>
        <div class="main-post">
          <div class="image-container">
            <img src="<%= posts[i].image %>" alt="image" />
          </div>
          <p class="caption"><%= posts[i].caption%></p>
          <div class="reactions">
            <span class="like">
              <i class="fas fa-thumbs-up fa-sm "></i>
            </span>
            <span class="love">
              <i class="fas fa-heart fa-sm"></i>
            </span>
            <span class="dislike">
              <i class="fas fa-thumbs-down fa-sm "></i>
            </span>
            <span class="comments">
             <a href="/posts/<%=posts[i].id%>"><i class="fas fa-comments fa-sm  "></i></a>
             <small><%=posts[i].comments.length%></small>
            </span>
          </div>
        </div>
        <% } %>
    <% } else { %>
      <div class="comment-box">
       
        <ul>
    
          <li class="main-comment">
            <% if(currentUser) { %> 
              <h4 class="m-2">Welcome <%=currentUser.username%></h4>
              <p class="my-1 tc py-2"> There are no post in Your Feed Yet </p> 
            <%} else { %>  <h4 class="my-2">Welcome Anonymous</h4><%}%>

          </li>
        </ul>
    </div>
    <% } %>

</div>
 <%- include("./partials/footer.ejs") %>
